body {
    background-image:#fbeff1;  
  }
  .wrapper {
    
    height: 420px;
    width: 654px;
    margin: 50px auto;
    border-radius: 7px;
  }
  .product-img {
    float: left;
    height: 420px;
    width: 327px;
  }
  .product-img img {
    border-radius: 7px 0 0 7px;
  }
  .product-info {
    float: right;
    height: 420px;
    width: 327px;
    border-radius: 0 7px 10px 0px;
    background-color:#fbeff1 ;
  }
  .product-text {
    height: 300px;
    width: 327px;
  }
  .product-text h1 {
    margin: 0 0 0 38px;
    margin-top: 50px;
    font-size: 34px;
    color: #474747;
  }
  .product-text h1,.product-price p {
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .product-text h2 {
    margin: 0 0 47px 38px;
    margin-left: 55px;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #d2d2d2;
    letter-spacing: 0.2em;
  }
  .product-text p {
    height: 125px;
    margin: 0 0 0 38px;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #8d8d8d;
    line-height: 2em;
    font-size: 15px;
  }
  .product-price {
    height: 103px;
    width: 327px;
    margin-top: -30px;
    
  }
  .product-price p {
    display: inline-block;
    top: -13px;
    height: 50px;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 0 0 80px;
    font-size: 28px;
    font-weight: lighter;
    color: #474747;
  }
  span {
    display: inline-block;
    height: 50px;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 33px;
  }
  .menu{
    text-align: center;
  }
